.ArticlesContainer
{
  margin-right: 20%;
}

.article
{
  margin: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding : 5px;
  gap: 10px;
  display: flex;
  border-bottom: solid 2px rgb(214, 204, 204);
}

.thumbnail
{
  min-width: 20%;
  min-height: 20%;
  max-width: 20%;
  max-height: 20%;
  aspect-ratio: 16/9;
}

.title
{
  font-weight: bolder;
}

.text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content
{
  font-weight: lighter;
}

.published
{
  font-size: smaller;
}